{% extends "main.html" %}
{% block content %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    <h1>Страница не найдена</h1>
    <p>Такой страницы нет или ссылка устарела.</p>
    <p>
      <a href="/" class="md-button md-button--primary">На главную</a>
      <a href="/projects/" class="md-button">Проекты</a>
      <a href="https://github.com/pavluchenkor/docs-idryer-org/issues/new" class="md-button">Сообщить об ошибке</a>
    </p>
  </article>
</div>
{% endblock %}
