{% extends "base.html" %} {% set announce_texts = { "cs": { "message": "Pomozte
překládat dokumentaci:", "link": "Podpořit" }, "de": { "message": "Helfen Sie
bei der Dokumentation:", "link": "Unterstützen" }, "en": { "message": "Help
translate the documentation:", "link": "Support" }, "es": { "message": "Ayuda a
traducir la documentación:", "link": "Apoyar" }, "fr": { "message": "Aidez à
traduire la documentation :", "link": "Soutenir" }, "ja": { "message":
"ドキュメントの翻訳を手伝う:", "link": "サポート" }, "pt": { "message": "Ajude a
traduzir a documentação:", "link": "Apoiar" }, "pt-BR": { "message": "Ajude a
traduzir a documentação:", "link": "Apoiar" }, "ru": { "message": "Помогите
перевести документацию:", "link": "Поддержать" }, "zh": { "message":
"帮助翻译文档:", "link": "支持" }, "zh-Hant": { "message": "幫助翻譯文檔:",
"link": "支持" } } %} {% set announce =
announce_texts.get(config.theme.language, announce_texts.en) %} {% block
announce %} {{ announce.message }}
<a
  class="announce-chip announce-chip--forum"
  href="https://www.patreon.com/iDryer/"
  target="_blank"
  rel="noopener"
  >{{ announce.link }}</a
>
{% endblock %}
